.personal-info {
  background-color: #1e1e1f;
  padding: 1.5rem;
  font-size: 1.5rem;
  border: 1px solid #383838;
  position: relative;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

@media (min-width: 768px) {
  .personal-info {
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 30px;
  }
}

@media (min-width: 1000px) {
  .personal-info {
    font-size: 1.7rem;
    padding: 2.2rem;
  }
}

@media (min-width: 1260px) {
  .personal-info {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: 1.7rem;
    padding: 2.2rem;
    width: 300px;
    height: 610px;
  }
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1.5em;
  position: relative;
}

@media (min-width: 1260px) {
  .detail {
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    text-align: center;
  }
  .detail .image-container {
    background-color: #fff;
    margin: 0 0 1em 0;
    width: 8em;
    height: 8em;
  }
}

.detail::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #383838;
}

.detail .image-container {
  margin-right: 1.5em;
  width: 6em;
  height: 6em;
  border-radius: 20px;
  background-color: #fff;
  background-color: #3F3F40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail .image-container img {
  width: 4em;
  height: 4em;
}

@media (min-width: 1260px) {
  .detail .image-container {
    margin: 0;
    margin-bottom: 1em;
    width: 8em;
    height: 8em;
  }
  .detail .image-container img {
    width: 6em;
    height: 6em;
  }
}

.detail .desc-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.detail .desc-container .name {
  margin-bottom: 1em;
  color: #FCFCFC;
  font-weight: 400;
  font-size: 1.2em;
}

@media (min-width: 1260px) {
  .detail .desc-container .name {
    font-size: 1.2em;
  }
}

.detail .desc-container .desc {
  display: inline-block;
  text-align: center;
  padding: 0.4rem 0.8rem;
  background-color: #383838;
  border-radius: 7px;
  font-size: 0.8em;
}

@media (min-width: 1260px) {
  .detail .desc-container .desc {
    margin-inline: auto;
    width: 130px;
  }
}

.down-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  height: 40px;
  width: 40px;
  padding: 1rem;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 20px;
  border: 1px solid #383838;
  color: #FFDB6E;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .down-arrow {
    display: none;
  }
}

.down-arrow i {
  font-size: 1rem;
}

.contacts {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  overflow: hidden;
}

.contacts .tiles {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 1000px) {
  .contacts .tiles {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1260px) {
  .contacts .tiles {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contacts .contact {
  padding: 1.2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (min-width: 1260px) {
  .contacts .contact {
    padding: 1.4em 0;
  }
}

.contacts .contact .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 1.5rem;
  -webkit-box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 16px 30px rgba(0, 0, 0, 0.25);
  background: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
}

.contacts .contact .icon i {
  color: #FFDB6E;
  padding: 0.7em;
  border: 1px solid #383838;
  border-radius: 10px;
}

.contacts .contact .label {
  font-size: 0.7em;
  font-weight: 400;
  color: #D6D6D6;
}

.contacts .contact .value {
  font-size: 0.8em;
  color: #FCFCFC;
}

.social-icons {
  position: relative;
  padding-top: 1.1em;
}

.social-icons::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #383838;
}

.social-icons i {
  margin-inline: 1em;
  font-size: 1em;
  color: #D6D6D6;
}

@media (min-width: 1260px) {
  .social-icons {
    text-align: center;
  }
}
/*# sourceMappingURL=PersonalInfo.css.map */