// Variables
$dark: rgb(19, 18, 19);
$light-dark:#1e1e1f;
$light-light-dark: #3F3F40;
$font-base-size: 15px;
$font-mobile-size: 14px;
$color-heading: #FCFCFC;
$color-paragraph: #D6D6D6;
$color-border: #383838;
$color-bg: #121212;
$color-surface-1: #1e1e1f;
$color-surface-2: #2a2a2b;
$color-surface-3: #202021;
$color-accent: #FFDB6E;
$color-error: #B84C4C;
$bs-gray: #6c757d;
$color-gradient-gray: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);
$box-shadow-30: 0px 16px 30px rgba(0, 0, 0, 0.25);
$color-gradient-border-gray: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);
$color-gradient-border: linear-gradient(155deg, #FFDA6D 0%, rgba(255, 191, 96, 0) 50%);
// Variables
.portfolio {
    background-color: $light-dark;
    font-size: 1.1em;
    padding: 1.5rem;
}

.about-me {
    padding-left: 1em;
    font-size: 1.2em;
    .title {
        padding-left: 0;
        margin-left: 0;
    }
    p {
        margin-bottom: 1em;
        line-height: 1.6;
    }
}

.tech-cards {
    display: grid;
    gap: 1em;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    margin-top: 1em;
    h1 {
        color: $color-heading;
    }
    .card {
        border: 1px solid $color-border;
        border-radius: 20px;
        padding: 1em;
        display: flex;
        gap: 2.2em;
        align-items: center;
        background: $color-gradient-border;
        position: relative;
        z-index: 0;
        &::before {
            content: '';
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            left: 1px;
            background: $light-dark;
            border-radius: inherit;
            z-index: -1;
        }
        img {
            width: 2em;
        }
        h2 {
            color: $color-heading;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }
        p {
            font-size: 0.85em;
        }
    }
}